<%- include ('partials/_header'); -%>

    <div class="container">
        <div class="row">
            <!--FORM-->
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/series/edit/<%= serie._id %>" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="number" name="title" placeholder="Id Serie"
                                    value="<%= serie.idserie %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="title" placeholder="Identidad"
                                    value="<%= serie.identidad %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="title" placeholder="ID tipo documento"
                                    value="<%= serie.idtipo_documento %>">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="description" cols="80"
                                    placeholder="Add a Description"><%= serie.descripcion %></textarea>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="title" placeholder="Abreviacion"
                                    value="<%= serie.abreviacion %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="title" placeholder="Correlativo"
                                    value="<%= serie.correlativo %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="title" placeholder="Log Usuario Creacion"
                                    value="<%= serie.log_usuariocreacion %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="title" placeholder="Fecha creacion"
                                    value="<%= serie.log_fechacreacion %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="title" placeholder="Log Usuario Modif"
                                    value="<%= serie.log_usuariomodificacion %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="title" placeholder="Fecha modif"
                                    value="<%= serie.log_fechamodificacion %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="title" placeholder="Tipo serie"
                                    value="<%= serie.tipo_serie %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="number" name="title" placeholder="orden"
                                    value="<%= serie.orden %>">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="title" placeholder="Estado"
                                    value="<%= serie.log_estado %>">
                            </div>
                            <button class="btn btn-primary" type="submit">
                                Actualizar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include ('partials/_footer'); -%>